<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Lotería Mexicana</title>
</head>
<body>
    <div class="cartola" style="grid-template-columns: repeat({{ columnas }}, 1fr);">
        {% for i in range(filas * columnas) %}
        <div class="celda" style="background-color: {{ color[i % color|length] }};">
            {% if cartas is defined %}
                {{ cartas[i] if i < cartas|length else '' }}
            {% else %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
</body>
</html>

